@model App.Game.Models.GameModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="col-md-5">
    <div class="card">
        <div class="container">
            <h4 class="subscribe-line">Deseja Excluir Jogo Selecionado?</h4>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-10">
                            @Html.LabelFor(model => model.GameId, "Código" /*htmlAttributes: new { @class = "control-label col-md-2" }*/)
                            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <a href="@Url.Action("Index", "GameModels")" class="btn btn-danger">Voltar</a>
                    <input type="submit" value="Delete" class="btn btn-default" />

                </div>
            }

        </div>

    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            if ($(".field-validation-error").text() != "") {
                $.notify($(".field-validation-error").text(), "error");
            }

        });
    </script>
}


