@model App.Game.Models.GameModel

@{
    ViewBag.Title = "Detalhes Jogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Jogo</h4>
            </div>
            <div class="modal-body">
                <p>@Html.DisplayNameFor(model => model.GameId) : @Html.DisplayFor(model => model.GameId)</p>
                <p>@Html.DisplayNameFor(model => model.Descricao) : @Html.DisplayFor(model => model.Descricao)</p>
                @*<p>@Html.DisplayNameFor(model => model) : @Html.DisplayFor(model => model.Preco)</p>*@
            </div>
            <div class="container">
                @Html.ActionLink("Voltar", "Index", "GameModels", new { @class = "btn btn-md btn-danger" })
                @Html.ActionLink("Editar", "Edit", new { id = Model.GameId }, new { @class = "btn btn-md btn-warning" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>