@model IEnumerable<App.Game.Models.GameModel>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <p>
        <a href="@Url.Action("Create", "GameModels")"><i class="glyphicon glyphicon-plus-sign"></i> Novo Game</a>

    </p>
    <div class="card">
        <div class="header">
            <h4 class="title">Jogos Cadastrados</h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        @foreach (var item in Model)
                        {
                            <th>

                                @Html.DisplayNameFor(model => model.GameId)

                            </th>
                            <th>

                                @Html.DisplayNameFor(model => model.Descricao)

                            </th>
                            <th> Ação</th>
                        }

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        @foreach (var item in Model)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.GameId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>

                            <td>
                                <a  href="@Url.Action("Edit", "GameModels", new { id = item.GameId })"><i class="glyphicon glyphicon-edit btn btn-warning btn-sm"></i></a>
                                <a href="@Url.Action("Details", "GameModels", new { id = item.GameId })"><i class="glyphicon glyphicon-search btn btn-info btn-sm"></i></a>
                                <a href="@Url.Action("Edit", "GameModels", new { id = item.GameId })"><i class="glyphicon glyphicon-trash btn btn-danger btn-sm"></i></a>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |*@
                                @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
                            </td>
                        }
                    </tr>

                </tbody>

            </table>
        </div>
    </div>

</div>

