@model App.Game.Models.EmprestimoModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }*@



<div class="col-md-5">
    <div class="card">
        <div class="container">
            <h4 class="subscribe-line">Deseja Excluir Jogo Selecionado?</h4>
            <hr />
            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="form-group">
                <div class="col-lg-10">
                    @Html.LabelFor(model => model.Game.Descricao, "Nome do Jogo" /*htmlAttributes: new { @class = "control-label col-md-2" }*/)
                    @Html.TextBoxFor(model => model.Game.Descricao, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-10">
                    @Html.LabelFor(model => model.Data_emprestimo, "Data de Emprestimo" /*htmlAttributes: new { @class = "control-label col-md-2" }*/)
                    @Html.TextBoxFor(model => model.Data_emprestimo, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-10">
                    @Html.LabelFor(model => model.Data_devolucao, "Data de Devolução" /*htmlAttributes: new { @class = "control-label col-md-2" }*/)
                    @Html.TextBoxFor(model => model.Data_devolucao, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-10">
                    @Html.LabelFor(model => model.PessoaSolicitante.Id, "Emprestador Para" /*htmlAttributes: new { @class = "control-label col-md-2" }*/)
                    @Html.TextBoxFor(model => model.PessoaSolicitante.Nome, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="form-group">

            <a href="@Url.Action("Index", "EmprestimoModels")" class="btn btn-danger">Voltar</a>
            <input type="submit" value="Delete" class="btn btn-default" />

        </div>
}

        </div>

    </div>
</div>
