@model App.Game.Models.EmprestimoModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Emprestimo</h4>
            </div>
            <div class="modal-body">
                <p>@Html.DisplayNameFor(model => model.Game.Descricao) : @Html.DisplayFor(model => model.Game.Descricao)</p>
                <p>@Html.DisplayNameFor(model => model.Data_emprestimo)) : @Html.DisplayFor(model => model.Data_emprestimo))</p>
                <p>@Html.DisplayNameFor(model => model.Data_devolucao) : @Html.DisplayFor(model => model.Data_devolucao)</p>
                <p>@Html.DisplayNameFor(model => model.Data_devolvido) : @Html.DisplayFor(model => model.Data_devolvido)</p>
                <p>@Html.DisplayNameFor(model => model.PessoaSolicitante.Nome) : @Html.DisplayFor(model => model.PessoaSolicitante.Nome)</p>


            </div>
            <div class="container">
                @Html.ActionLink("Voltar", "Index", "EmprestimoModels", new { @class = "btn btn-md btn-danger" })
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-md btn-warning" })

            </div>
        </div>
    </div>
