<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/csslogin")

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jslogin")

</head>
<body class="container">
   
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                @RenderBody();
            </div>
        </div>

    </div>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
</body>
    @RenderSection("scripts", required: true)
</body>


</html>