@model IEnumerable<App.Game.Models.AmigoModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @if (ViewBag.classe != null)
    {
        <span class="hidden informacao" data-classe="@ViewBag.classe">@ViewBag.msg</span>
    }
    <p>
        <a href="@Url.Action("Create", "AmigoModels")"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar Amigo</a>

    </p>
    <div class="card">
        <div class="header">
            <h4 class="title">Lista Amigos</h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>

                    <tr>
                        <th>
                            @Html.Raw("Amigos".ToString())
                        </th>
                        <th> Ação</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PessoaFriends.Nome)
                            </td>
                            <td>
                                <a data-toggle="tooltip" title="Editar" href="@Url.Action("Edit", "AmigoModels", new { id = item.PessoaMeId, idamigo = item.PessoaFriendsId  })"><i class="glyphicon glyphicon-edit btn btn-warning btn-sm"></i></a>
                                <a data-toggle="tooltip" title="Atualizar" href="@Url.Action("Details", "AmigoModels", new { id = item.PessoaMeId, idamigo = item.PessoaFriendsId })"><i class="glyphicon glyphicon-search btn btn-info btn-sm"></i></a>

                                <a data-toggle="tooltip" title="Excluir" href="@Url.Action("Delete", "AmigoModels", new { id = item.PessoaMeId, idamigo = item.PessoaFriendsId })"><i class="glyphicon glyphicon-trash btn btn-danger btn-sm"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            if ($(".informacao").text() != "") {
                $.notify($(".informacao").text(), $(".informacao").data("classe"));
            }

        });
    </script>


}